.about-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: snow;
  object-fit: contain;
  z-index: -1;
}

.header {
  color: #303030;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  margin-top: 120px;
  margin-left: 100px;
  font-weight: 600;
  text-shadow: 0.05em 0 #f7ce68, -0.025em -0.05em 0 #fbab7e,
    0.025em 0.05em 0 #e0c3fc;
  animation: glitch 500ms infinite;
}
.cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.para-first {
  width: 100%;
  margin-top: 30px;
  margin-left: 100px;
  color: #303030;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.animone {
  margin-left: 100px;
  margin-top: -70px;
  width: 25%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.animone:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@keyframes glitch {
  0% {
    text-shadow: 5px -10px 0 #f7ce68, -5px 5px 0 #fbab7e, 5px 0 0 #e0c3fc;
  }
  49% {
    text-shadow: 0 0 -5px #f7ce68, -10px 5px -10px #fbab7e, 5px 0 0 #e0c3fc;
  }

  50% {
    text-shadow: 0 5px 0 #f7ce68, -15px 0 5px #fbab7e, 0 5px -10px #e0c3fc;
  }

  99% {
    text-shadow: 5px 5px 0 #f7ce68, 0 5px #fbab7e, 10px 5px 0 #e0c3fc;
  }

  100% {
    text-shadow: 5px -10px 0 #f7ce68, 5px 0 10px #fbab7e, 0 0 5px #e0c3fc;
  }
}

@media screen and (max-width: 960px) {
  .animone {
    align-content: center;
    margin-top: 15px;
    margin-left: 0;
    width: 45%;

    align-items: center;
  }

  .about-container {
    align-items: center;
    height: min-content;
  }
  .header {
    margin-left: 0px;
    margin-top: 50px;
    font-size: 70px;
    align-items: center;
  }

  .para-first {
    margin-left: 10px;
    font-size: 20px;
    align-self: center;
    padding-right: 50px;
    text-align: center;
  }
  .button-about {
    justify-content: center;
    margin-left: 0px;

    align-items: center;
  }
}
