.contact-container {
  padding: 4rem;
  background-color: black;
}
.contact-header {
  padding-top: 5px;
  text-align: center;
  color: white;
  font-size: 8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.sent {
  text-align: center;
  color: snow;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.icons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  margin-left: 100px;
  margin-top: 10px;
}
.linkedin {
  color: snow;
  margin-right: 10px;
  border-radius: 20px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.linkedin:hover {
  color: salmon;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.insta {
  color: snow;
  margin-right: 10px;
  border-radius: 20px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.insta:hover {
  color: salmon;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.messenger {
  color: snow;
  margin-right: 10px;
  border-radius: 20px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.messenger:hover {
  color: salmon;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.git {
  color: snow;
  margin-right: 10px;
  border-radius: 20px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.git:hover {
  color: salmon;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 960px) {
  .contact-container {
    height: max-content;
    margin-top: 10px;
  }
  .contact-header {
    font-size: 5rem;
  }
  .sent {
    font-size: 2rem;
  }
  .icons {
    margin-left: 0px;
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .contact-header {
    font-size: 3rem;
  }
  .sent {
    font-size: 1.5rem;
  }
}
