.contact-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #000000 0%, #312e2e 100%);
}

.contact-cards{
  display: flex;
  flex-direction: row;
}

.title{
  font-family: 'CalibreReg';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;

}

.contact-link{
  margin: auto;
  padding-left: 2vw;
  font-size: 2rem;
  cursor: pointer;
}

.contact-btn{
  margin-top: -10vh;
}

@media screen and (max-width:960px) {
  .contact-container{
    align-items: center;
    position: center;
    display: flex;
    flex-direction: column;
    padding:0%;
  }

  .contact-cards{
    display: flex;
    flex-direction: column;
  }
  .contact-btn{
    margin-right: 20vw;
  }
  
  
}