.hero-container {
  margin-top: -80px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.greetings {
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.name {
  text-align: center;
  color: snow;
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.buttons_hero {
  margin-top: 2%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.button-one {
  padding-right: 15px;
}
.button-two {
  margin-right: 15px;
}

.button-three {
  margin-right: 15px;
}

.anim {
  margin-top: 1%;
  align-self: center;
  width: 37%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.anim:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 960px) {
  .anim {
    align-content: center;

    width: 45%;
  }

  .buttons_hero {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  .button-one {
    padding-top: 10px;
  }
  .button-two {
    padding-top: 10px;
  }

  .button-three {
    padding-top: 10px;
  }
  .greetings {
    justify-content: center;
    margin-top: 10%;
    font-size: 4rem;
  }

  .name {
    font-size: 3rem;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 768px) {
  .anim {
    align-items: center;
    width: 75%;
  }

  .buttons {
    justify-content: center;
    padding-top: 20px;
  }
  .greetings {
    margin-top: 10%;
    font-size: 3.5rem;
  }

  .name {
    font-size: 2rem;
    margin-bottom: 3%;
  }
}