.hero-container {
  margin-top: -80px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #303030;
  /*background: url("../images/Hero1.png");*/
  object-fit: contain;
  z-index: -1;
}

.greetings {
  color: snow;
  font-size: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-top: 200px;
  margin-left: 100px;
}

.name {
  color: snow;
  font-size: 65px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-left: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 50px;
}

.button-one {
  padding-right: 15px;
}
.button-two {
  margin-right: 15px;
}

.button-three {
  margin-right: 15px;
}

.anim {
  margin-top: -250px;
  width: 45%;
  margin-left: 150px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.anim:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 960px) {
  .anim {
    align-content: center;
    margin-top: 15px;
    margin-left: 0;
    width: 65%;
  }
  .hero-container {
    align-items: center;
  }

  .buttons {
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
  .button-two {
    padding-top: 15px;
  }
  .button-three {
    padding-top: 15px;
  }

  .greetings {
    margin-top: 80px;
    font-size: 70px;
  }

  .name {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .anim {
    width: 75%;
  }
  .hero-container {
    align-items: center;
  }
  .buttons {
    flex-direction: column;
    margin-top: 15px;
  }
  .greetings {
    align-self: center;
    font-size: 50px;
  }

  .name {
    align-items: center;
    font-size: 25px;
  }
}
