.hero-container {
  margin-top: -80px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.greetings {
  text-align: center;
  color: white;
  font-size: 8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.name {
  text-align: center;
  color: snow;
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.buttons_hero {
  margin-top: 2%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.button-one {
  padding-right: 15px;
}
.button-two {
  margin-right: 15px;
}

.button-three {
  margin-right: 15px;
}

.anim {
  margin-top: 1%;
  align-self: center;
  width: 37%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.anim:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 960px) {
  .anim {
    align-content: center;
    margin-top: 15px;
    margin-left: 0;
    width: 45%;
  }
  .hero-container {
    align-items: center;
  }

  .buttons {
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
  .button-two {
    padding-top: 15px;
  }
  .button-three {
    padding-top: 15px;
  }

  .greetings {
    margin-top: 80px;
    font-size: 70px;
  }

  .name {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .anim {
    margin-left: 0px;

    align-items: center;
    width: 75%;
  }
  .hero-container {
    align-items: center;
  }
  .buttons {
    margin-left: 0px;

    align-items: center;
    flex-direction: column;
    margin-top: 15px;
  }
  .greetings {
    margin-left: 0px;
    align-self: center;
    font-size: 50px;
  }

  .name {
    margin-left: 0px;

    align-items: center;
    font-size: 25px;
  }
}
