.projects-container {
  overflow: hidden;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #000000 0%, #312e2e 100%);
}

.header_line{
  font-family: a Agreement Signature;
  font-size: 8rem;
  color: #FFFFFF;
  padding-bottom: 5vh;
  font-style: normal;
}
.projects-cards{
  display: flex;
  flex-direction: row;
  padding-bottom: 5vh;
}
.card{
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
}

.card-header{
  padding-top: 3vh;
  font-family: Calibre;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 5vh;
  padding-left: 1vw;
}
.card-desc-dark{
  font-family: a Agreement Signature;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 109px;
  padding-left: 1vw;

  color: rgba(67, 65, 65, 0.25);
}
.card-desc-dark-outlier{
  font-family: a Agreement Signature;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 109px;
    padding-left: 1vw;
  color: rgba(67, 65, 65, 0.25);
}

.card-desc{
  font-family: a Agreement Signature;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 109px;
  padding-left: 1vw;
  color: rgba(255, 255, 255, 0.25);
}


.stacks{
  padding-left: 1vw;
  font-family: 'SF Thin';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 10px;
}

.stacks-dark{
  padding-left: 1vw;
  font-family: 'SF Thin';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #434141;
  margin-right: 10px;
}


.link{
  padding-left: 1vw;
}

@media screen  and (max-width:960px){
  .projects-container{
    align-items: center;

    padding: 0;
  }
  .header_line{
    width: 80%;
    padding: 0;
    font-size: 5rem;
    padding-bottom: 2vh;
  }
  .projects-cards{
    display: flex;
    flex-direction: column;
    text-align: center;

  }
  .card{
    text-align: center;
    padding-bottom: 10vh;
  }
  
}