.projects-container {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #303030;
  /*background: url("../images/Hero1.png");*/
  object-fit: contain;
  z-index: 0;
}

.link-proj {
  color: #303030;
}
.projects-header {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  margin-top: 100px;
  margin-left: 100px;
  font-weight: 600;
  text-shadow: 0.05em 0 #f7ce68, -0.025em -0.05em 0 #fbab7e,
    0.025em 0.05em 0 #e0c3fc;
  animation: glitchone 500ms infinite;
}
.sec-container {
  display: flex;
  flex-direction: row;
}

.section-one {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  max-width: 400px;
  max-height: 700px;
  justify-self: center;
  background-color: snow;
  border: 2px solid none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.img-one {
  margin-top: 20px;
  background-image: url("../images/Frame1.png");
  background-repeat: no-repeat;
  margin-left: 25px;
  width: 350px;
  height: 300px;
  display: flex;
  border-radius: 100px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.head-one {
  padding-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 30px;
  margin-top: 20px;
  color: #303030;
  text-align: center;
  font-family: "Raleway", sans-serif;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.head-one:hover {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  background-color: salmon;
}
.desc-one {
  margin-left: 50px;
  margin-right: 10px;
  color: #303030;
  font-weight: 400;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.desc-one-one {
  margin-left: 65px;
  margin-right: 10px;
  color: #303030;
  font-weight: 400;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.github-icon {
  margin-top: 10px;
  margin-left: 160px;
  color: #303030;
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
}

.img-one:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.section-two {
  margin-right: 20px;
  margin-top: 20px;
  max-width: 400px;
  object-fit: cover;
  justify-self: center;
  background-color: snow;
  border: 2px solid none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.desc-two {
  margin-left: 20px;
  margin-right: 10px;
  color: #303030;
  font-weight: 400;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.desc-two-two {
  margin-left: 20px;
  margin-right: 10px;
  color: #303030;
  font-weight: 400;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.img-two {
  margin-top: 20px;
  background-image: url("../images/Frame2.png");
  background-repeat: no-repeat;
  margin-left: 25px;
  width: 350px;
  height: 300px;
  display: flex;
  border-radius: 100px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.img-two:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.section-three {
  margin-right: 20px;
  margin-top: 20px;
  max-width: 400px;
  object-fit: cover;
  justify-self: center;
  background-color: snow;
  border: 2px solid none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.img-three {
  margin-top: 20px;
  background-image: url("../images/Frame3.png");
  background-repeat: no-repeat;
  margin-left: 25px;
  width: 350px;
  height: 300px;
  display: flex;
  border-radius: 100px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.img-three:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.mobile-sec-one {
  display: none;
}

@keyframes glitchone {
  0% {
    text-shadow: 5px -10px 0 #f7ce68, -5px 5px 0 gray, 5px 0 0 black;
  }
  49% {
    text-shadow: 0 0 -5px #f7ce68, -10px 5px -10px gray, 5px 0 0 black;
  }

  50% {
    text-shadow: 0 5px 0 #f7ce68, -15px 0 5px gray, 0 5px -10px black;
  }

  99% {
    text-shadow: 5px 5px 0 #f7ce68, 0 5px gray, 10px 5px 0 black;
  }

  100% {
    text-shadow: 5px -10px 0 #f7ce68, 5px 0 10px gray, 0 0 5px black;
  }
}

@media screen and (max-width: 960px) {
  .projects-container {
    height: min-content;
  }
  .sec-container {
    display: flex;
    flex-direction: column;
  }
  .projects-header {
    font-size: 70px;
    margin-left: 0px;
    margin-right: 0px;
    align-self: center;
  }
  .section-one {
    display: none;
  }
  .section-two {
    display: none;
  }
  .section-three {
    display: none;
  }
  .mobile-sec-one {
    margin-top: 20px;
    display: flex;
    align-self: center;
    flex-direction: column;
    max-width: 500px;
    justify-self: center;
    justify-content: space-around;
    margin-right: 0px;
    background-color: snow;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #e0c3fc;
  }
}
