.cards {
  padding: 4rem;
  background: #000000;
}

.cards_header {
  color: snow;
  font-family: "Raleway", sans-serif;
  font-size: 7rem;
  text-align: center;
  margin-top: 0;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  padding-top: 5px;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 30px;
  background-color: snow;
  box-shadow: 0 2px 10px salmon;
  transform: scale(1);
  transition: 0.6s all ease-in-out;
}

.cards__item:hover {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__info {
  padding: 30px 20px 20px;
}

.cards__item__header {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 2rem;
  line-height: 25px;
  padding-bottom: 3%;
  text-align: center;
}

.cards__item__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1rem;
  line-height: 25px;
  padding-bottom: 3%;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 960px) {
  .cards_header {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .cards_header {
    font-size: 3rem;
  }
}
