.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn-primary {
  background-color: white;
  color: #303030;
  border: 1px solid white;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  padding: 8px 20px;
  border: 1px solid white;
  transition: all 0.3s ease-out;
}

.btn-medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn-large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn-mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  font-size: 24px;
  color: white;
  padding: 14px 20px;
  background-color: transparent;
  border: 1px solid white;
  transition: all 0.3s ease-out;
}

.btn-large:hover,
.btn-medium:hover,
.btn-medium:hover {
  color: #303030;
  background-color: salmon;
  transition: all 0.3s ease-out;
}

.primary {
  background-color: #303030;
  color: white;
  border: none;
}
.primary:hover {
  background-color: salmon;
  color: #303030;
  border: none;
}
