.cardContainer{
    margin: 1rem;
    width: 40vw;
    height: 30vh;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-color:rgb(37, 36, 36, 0.3) ;
    border-radius: 10px;

  }

.ProjName{
    font-family: 'SF Bold';
    font-size: 2.5vw;
    border-color: rgb(37, 36, 36);
    font-weight: 700;
    background: transparent;
}

.ProjDesc{
    font-family: 'AileronReg';
    font-weight: 100;
    font-size: 1.1vw;
    border-color: rgb(87, 85, 85);
    font-weight: 300;
    background: transparent;
    text-align: left;
}
.project-github{
    transform: scale(1);
    transition: all 0.3s ease-out;
}
.project-github:hover{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
.project-link{
    transform: scale(1);
    transition: all 0.3s ease-out;
}
.project-link:hover{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
@media screen and (max-width: 960px){
    .cardContainer{
        align-self: center;
        width: 80vw;
        height: max-content;
    }
    .ProjName{
        font-size: 8vw;
        text-align: center;
        padding-bottom: 10px;
    }
    .ProjDesc{
        font-size: 5vw;
        text-align: center;
    }
}