* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Anders";
  src: url(./components/fonts/Anders.ttf);
}
@font-face {
  font-family: "SF Thin";
  src: url(./components/fonts/SFThin.ttf);
}

@font-face {
  font-family: "Agreement";
  src: url(./components/fonts/Agreement.ttf);
}