* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@font-face {
  font-family: "Anders";
  src: url(./components/fonts/Anders.ttf);
}
@font-face {
  font-family: "SF Thin";
  src: url(./components/fonts/SFThin.ttf);
}
@font-face {
  font-family: "SF Bold";
  src: url(./components/fonts/SFBold.ttf);
}
@font-face {
  font-family: "SFReg";
  src: url(./components/fonts/SFReg.ttf);
}
@font-face {
  font-family: "Agreement";
  src: url(./components/fonts/Agreement.ttf);
}
@font-face {
  font-family: "CalibreReg";
  src: url(./components/fonts/Calibre-Regular.ttf);
}
@font-face {
  font-family: "Afrah";
  src: url(./components/fonts/AfrahDemo.ttf);
}
@font-face {
  font-family: "AileronBlack";
  src: url(./components/fonts/Aileron-Black.otf);
}
@font-face {
  font-family: "AileronReg";
  src: url(./components/fonts/Aileron-Regular.otf);
}